# Compiled plugins from Packer
nvim/plugin/packer_compiled.lua

# My personal config files
.config/*.conf

# Ignore obsidian files for visualizing docs
.obsidian

# Only include explicitly declared ~/.local/bin files
/bin
!/bin/tmux-sessionizer
